@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Qwitcher+Grypen:wght@700&family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=Qwitcher+Grypen:wght@700&family=Titillium+Web&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.459));
    margin: 0px;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: url(fundo-tela.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5px;
    margin: 0px;
    min-height: 150px;
}

header > h1 {
    text-align: center;
    font-family: 'Anton', Arial, Helvetica,sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(63, 61, 61, 0.493);
    
}

h2 {
    background-image: linear-gradient(to right, rgba(38, 0, 255, 0.527), transparent);
    padding-left: 10px;
}

h3#curriculo {
    color: yellow;
    text-align: center;
    text-decoration: underline;
}

article > p {
    text-align: justify;
    line-height: 1.4em;
}

nav {
    
    text-align: left;
    padding: 4px;
    background-image: linear-gradient(to right, red, transparent);
    
    
}

nav > a {  
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px;
    font-size: 1em;
    border-radius: 5px;
    transition-duration: .5s;
    
}

nav > a:hover { 
    color: black;

}

main {
    color: white;
    min-width: 300px;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.521);
}

div.video {
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 54.8%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

article > h2 {
    font-size: 2em;
}



main img {
    width: 100%;
}

main#status {
    border-radius: 0px;
    box-shadow: 0px;
    margin: 0px;
    padding: 0px;
}





article > aside {
    background-image: linear-gradient(to right, rgb(10, 60, 124), transparent );
    text-indent: 8px;
    padding: 0px;
    margin: 0px;
}

aside > p {
    padding-left: 5px;
    
}


footer {
    background-color: rgba(1, 103, 255, 0.637);
    box-shadow: 2px 2px 8px rgb(10, 60, 124);
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

em {
    text-decoration: underline;
    text-shadow: 1px 1px 5px black;
}

em#escrito {
    text-decoration: none;
    text-shadow: none;
    font-family: 'Caveat', cursive; 
    font-size: 1.2em;
}

em#escrito:hover {
    text-shadow: 4px 4px 8px rgb(255, 255, 255);
}

footer > p {
    margin: 0px;
}

#biografia p {
    line-height: 2em;
}

a#livro {
    color: white;
    background-color: rgb(255, 0, 0);
}

img#oab {
    width: 415px;
}

img#academia {
    width: 330px;
}
